/* ***** ********** ***** */
/*       NavBar CSS       */
/* ***** ********** ***** */

.navbar {
    height: 80px;
    background-color: transparent;
    border: none;
    z-index: 100;
  }
  
  .navbar-right {
    margin-right: 100px;
  }
  
  .nav.navbar-nav a {
    color: whitesmoke;
  }
  
  #navbar-wrapper .navbar-nav li.active > a {
    background-color: transparent;
    font-weight: 600;
  }
  
  #navbar-wrapper .navbar-nav li.about-me > a:hover {
    color: #2196F3;
  }
  #navbar-wrapper .navbar-nav li.my-projects > a:hover {
    color: #8BC34A;
  }
  #navbar-wrapper .navbar-nav li.my-experience > a:hover {
    color: #E040FB;
  }

  #navbar-wrapper .navbar-nav li.about-me.active {
    color: #2196F3;
  }

  #navbar-wrapper .navbar-nav li.my-experience.active {
    color: #E040FB;
  }

 .nav-icon {
 }

 .github-icon {
    background-image: url(images/github-logo.png);
    height: 20px;
    width: 20px;
    margin: 15px 15px;
    background-size: cover;
 }
